/* styles/ArtistProfile.css */

.artist-profile {
    width: 80%;
    margin: 20px auto;
  }
  
  .artist-profile h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .artwork-listings {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .artwork-listings div {
    border: 1px solid #201c1c;
    padding: 10px;
    border-radius: 6px;
    background-color: #3b3535;
  }
  
  .artwork-listings h2 {
    font-size: 1.4em;
  }
  
  .artwork-listings p {
    font-size: 1em;
    color: #333;
  }
  