/* src/styles/Navbar.css */

/* Navbar Styles */
.navbar {
  background-color: #3d5685;
  padding: 15px;
  color: rgb(32, 30, 30);
}

.navbar h1 {
  display: inline-block;
  margin: 0;
}

.navbar-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin-left: 20px;
  position: relative; /* Required for dropdown positioning */
}

.navbar-menu a, .dropbtn {
  color: rgb(54, 51, 51);
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

.navbar-menu a:hover, .dropbtn:hover {
  background-color: #818d80;
}

/* Dropdown Styles */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #8a8686;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown when the button is clicked */
.show {
  display: block;
}

/* Add a hover effect on the dropdown button */
.dropdown:hover .dropbtn {
  background-color: #555;
}
